<?php

$config = new Amp\CodeStyle\Config();
$config->getFinder()
    ->in(__DIR__)
    ->notName('huffman-codes.php')
    ->notName('huffman-lookup.php');

$cacheDir = getenv('TRAVIS') ? getenv('HOME') . '/.php-cs-fixer' : __DIR__;

$config->setCacheFile($cacheDir . '/.php_cs.cache');

return $config;
